{% extends '_account_dashboard.html' %}
{% load static %}

{% block edit_title %}Edit Profile{% endblock edit_title %}

{% block text_title %}first name, last name{% endblock text_title %}

{% block accountblock %}
<div class='w-full h-full'>

  <form method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <div class="w-full mx-auto bg-white">
      <div class="space-y-4 border-0 bg-white  w-full relative">
        {% if form.errors.non_form_errors %}

        <div class="w-fit space-y-1 mx-auto text-sm text-red-500 font-normal">

          <p>{{form.errors.non_form_errors.as_text}}</p>
        </div>
        {% endif %}
        <div class="flex-auto md:px-4 pt-0">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
              Contact Information
            </h6>
            <div class="flex flex-wrap">
              <div class="w-full relative lg:w-12/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="id_address_one"
                    class="block uppercase {% if form.address_one.errors %}text-red-500 {% else %} text-gray-600 {% endif %} text-xs font-bold mb-2">
                    Address Line 1*
                  </label>
                  <input name="address_one" id="id_address_one" type="text"
                    class="border-0 px-3 py-3 placeholder-gray-500 {% if form.address_one.errors %} border-2 border-red-500{% endif %} text-gray-500 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <span
                    class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.address_one.help_text}}</span>
                  {% if form.address_one.errors %}
                  <span
                    class="text-[11px] text-red-500 block font-normal lowercase">{{form.address_one.errors.as_text}}</span>
                  {% endif %}
                </div>
                <div id="search_results_modal"
                  class="absolute hidden top-full z-50 shadow-xl rounded-md right-1/2 translate-x-1/2 w-full lg:w-12/12 h-fit overflow-y-auto overflow-hidden max-h-60 p-4 bg-white">
                  <div id="search_results_container" class="space-y-3">

                  </div>
                </div>
              </div>
              <div class="w-full lg:w-12/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="id_address_two"
                    class="block uppercase {% if form.address_two.errors %}text-red-500 {% else %} text-gray-600 {% endif %} text-xs font-bold mb-2">
                    Address Line 2
                  </label>
                  <input id="id_address_two" name="address_two" type="text"
                    class="border-0 px-3 py-3 placeholder-gray-500 {% if form.address_two.errors %} border-2 border-red-500{% endif %} text-gray-500 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <span
                    class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.address_two.help_text}}</span>
                  {% if form.address_two.errors %}
                  <span
                    class="text-[11px] text-red-500 block font-normal lowercase">{{form.address_two.errors.as_text}}</span>
                  {% endif %}
                </div>
              </div>
              <div class="w-full lg:w-12/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="id_city"
                    class="block uppercase {% if form.city.errors %}text-red-500 {% else %} text-gray-600 {% endif %} text-xs font-bold mb-2">
                    City*
                  </label>
                  <input id="id_city" name="city" type="text"
                    class="border-0 px-3 py-3 placeholder-gray-500 {% if form.city.errors %} border-2 border-red-500{% endif %} text-gray-500 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <span
                    class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.city.help_text}}</span>
                  {% if form.city.errors %}
                  <span class="text-[11px] text-red-500 block font-normal lowercase">{{form.city.errors.as_text}}</span>
                  {% endif %}
                </div>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="id_state"
                    class="block uppercase {% if form.state.errors %}text-red-500 {% else %} text-gray-600 {% endif %} text-xs font-bold mb-2">
                    state*
                  </label>
                  <input placeholder="e.g KZN, WC, GP" id="id_state" name="state" type="text"
                    class="border-0 px-3 py-3 {% if form.state.errors %} border-2 border-red-500{% endif %} placeholder-gray-500 text-gray-500 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <span
                    class="text-[11px]  text-custom-tertiary block font-normal lowercase">{{form.state.help_text}}</span>
                  {% if form.state.errors %}
                  <span
                    class="text-[11px] text-red-500 block font-normal lowercase">{{form.state.errors.as_text}}</span>
                  {% endif %}
                </div>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="id_country"
                    class="block uppercase {% if form.country.errors %}text-red-500 {% else %} text-gray-600 {% endif %} text-xs font-bold mb-2">
                    Country*
                  </label>
                  <input readonly id="id_country" name="country" type="text" editable="false"
                    class="border-0 px-3 py-3 placeholder-gray-500 text-gray-500 {% if form.country.errors %} border-2 border-red-500{% endif %} bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    value="South Africa">
                  <span
                    class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.country.help_text}}</span>
                  {% if form.country.errors %}
                  <span
                    class="text-[11px] text-red-500 block font-normal lowercase">{{form.country.errors.as_text}}</span>
                  {% endif %}
                </div>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="id_zipcode"
                    class="block uppercase {% if form.zipcode.errors %}text-red-500 {% else %} text-gray-600 {% endif %} text-xs font-bold mb-2">
                    Postal Code*
                  </label>
                  <input id="id_zipcode" name="zipcode" type="number"
                    class="border-0 px-3 py-3 placeholder-gray-500 {% if form.zipcode.errors %} border-2 border-red-500{% endif %} text-gray-500 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                  <span
                    class="text-[11px] text-custom-tertiary block font-normal lowercase">{{form.zipcode.help_text}}</span>
                  {% if form.zipcode.errors %}
                  <span
                    class="text-[11px] text-red-500 block font-normal lowercase">{{form.zipcode.errors.as_text}}</span>
                  {% endif %}
                </div>
              </div>
              <input type="hidden" id="id_user_address" name="user_address" />
            </div>


            <div class="text-center inline-block h-12 bg-custom-primary w-[150px] rounded-md cursor-pointer">
              <input type="submit" value="submit"
                class="text-white w-full h-full cursor-pointer text-sm font-semibold" />
            </div>


          </form>
        </div>
      </div>
    </div>

  </form>
</div>
{% endblock accountblock %}

{% block javascripts %}
<script>
  
  $("#id_address_one").on("keyup", function (e) {
    
    var $val = $("#search_results_modal");
    var $results_container = $("#search_results_container")
    if ($val.hasClass("hidden")) {
      $("#search_results_modal").removeClass("hidden")
      $("#search_results_modal").addClass("block")
    }

    $.ajax({
      url: "{% url 'accounts:address_search' %}",
      data: {
        search_value: $(this).val()
      },
      dataType: "json",
      success: function (data) {
        var data_objects = JSON.parse(data.data)
        if (data.success) {
          $results_container.empty();
          if (data_objects.length == 0) {
            if ($val.hasClass("block")) {
              $("#search_results_modal").removeClass("block")
              $("#search_results_modal").addClass("hidden")
            }
          } else {
            data_objects.forEach(element => {
              $results_container.append(

                `<div data-id="${element.pk}" data-address="Cinci KwaMthethwa R456" id="address_${element.pk}" onClick="select_address(this.id)" class="address_one cursor-pointer">
                                    <h6 class="font-bold  text-base text-black" id="address">${element.fields.address_one}</h6>
                                    <p class="text-sm text-gray-500 font-normal"><span id="city">${element.fields.city}</span> <span id="zipcode">${element.fields.zipcode}</span>, <span id="state">${element.fields.state}</span>, South Africa</p>
                                </div>`
              );
            });
          }


        } else {
          if ($val.hasClass("block")) {
            $("#search_results_modal").removeClass("block")
            $("#search_results_modal").addClass("hidden")
          }
          alert("Error trying to search for address")
        }
      },
      error: function (error) {
        if ($val.hasClass("block")) {
          $("#search_results_modal").removeClass("block")
          $("#search_results_modal").addClass("hidden")
        }
        alert("Something went wrong, contact the administrator")
      }
    })

  })

  function select_address(obj_id) {
    var $val = $("#search_results_modal");
    if ($val.hasClass("block")) {
      $("#search_results_modal").removeClass("block")
      $("#search_results_modal").addClass("hidden")
    }
    $("#id_user_address").val($(`#${obj_id}`).data("id"))
    var address_val = $(`#${obj_id} h6`).text()
    var city_val = $(`#${obj_id} p #city`).text()
    var zipcode_val = $(`#${obj_id} p #zipcode`).text()
    var state_val = $(`#${obj_id} p #state`).text()

    $("#id_address_one").val(address_val)
    $("#id_city").val(city_val)
    $("#id_zipcode").val(zipcode_val)
    $("#id_state").val(state_val)
  }


  </script>

{% endblock javascripts %}