{% extends '_base.html' %}
{% load static %}
{% block title %}Events{% endblock title %}

{% block content %}
<section class="w-full bg-custom-h pt-36 mt-16 relative block pb-32 overflow-hidden border-2">
    <div id="header-bg"
        class="absolute top-0 h-fit  border-2 border-custom-primary left-0 bottom-0 right-0 overflow-hidden bg-center opacity-50 bg-no-repeat bg-cover mix-blend-luminosity">
        <img src="{% static 'imgs/home.jpg' %}" alt="" class="w-full h-96 object-cover">
    </div>
    <div class="container">
        <div class="relative block z-40">
            <ul class="relative block">
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="" class="text-white inline-block text-base font-medium">Home</a>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <span>/</span>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="{% url 'event:event_list' %}"
                        class="text-white inline-block text-base font-medium">Events</a>
                </li>

            </ul>
            <h2 class="text-white text-2xl md:text-5xl font-bold m-0">All events</h2>
        </div>
    </div>
</section>

<section class="w-full bg-white mb-20">
    <div class="container font-sans">
        <div class="space-y-2 w-full p-10">
            <div class="flex flex-wrap -mx-4">
                {% if events.count != 0 %}
                {% for event in events %}
                <div class="relative w-full max-w-full sm:w-1/2 md:w-4/12 px-4 overflow-hidden">
                    <div class="relative block bg-custom-h w-full h-80 group overflow-hidden">
                        <div class="bg-custom-primary  z-20 text-white absolute top-4 left-4 py-1 md:py-2 px-2 md:px-4 text-center">
                            <p class="text-xs">{{event.event_startdate.date}}</p>
                        </div>
                        
                        {% if event.image %}
                        <img src="{{event.image.url}}" alt="" srcset=""
                            class="object-cover block h-full w-full duration-500 group-hover:scale-105">
                        {% else %}
                        <img src="{% static 'imgs/home.jpg' %}" alt="" srcset=""
                            class="object-cover block h-full w-full">
                        {% endif %}
                        
                        
                        <div class="w-full h-full bg-custom-h opacity-50 absolute top-0 left-0"></div>
                        <div
                            class="absolute group text-white duration-500 bg-[#00000075] bottom-0 left-0 w-11/12 h-fit p-2">
                            <div class="font-sans space-y-3">
                                <span class="duration-500 text-sm font-normal">
                                    <i class="fa-solid fa-clock text-xs md:text-sm"></i>
                                    {{event.event_startdate}}
                                </span>
                                <a href="{% url 'event:event_details' event_slug=event.slug %}" class="block  duration-500 font-bold text-base md:text-xl">
                                    {{event.title}}
                                </a>
                                <div class="space-y-7 w-full">
                                </div>
                            </div>
    
                        </div>

                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="self-center justify-self-center w-fit">
                    <p class="mx-auto">Not events available on this category</p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>


{% endblock content %}

{% block javascripts %}
<script>

    const categoryBtn = document.getElementById("category_button");
    const categoryMenu = document.getElementById("category_menu");

    categoryBtn.addEventListener("click", function () {
        if (categoryMenu.classList.contains("hidden")) {
            categoryMenu.classList.remove("hidden")
            categoryMenu.classList.add("block")
        } else {
            categoryMenu.classList.remove("block")
            categoryMenu.classList.add("hidden")
        }
    })
</script>
{% endblock javascripts %}