{% extends '_base.html' %}
{% load static %}

{% block content %}
<section class="w-full bg-custom-h pt-36 mt-16 relative block pb-32 overflow-hidden border-2">
    <div id="header-bg"
        class="absolute top-0 h-fit  border-2 border-custom-primary left-0 bottom-0 right-0 overflow-hidden bg-center opacity-50 bg-no-repeat bg-cover mix-blend-luminosity">
        <img src="{% static 'imgs/home.jpg' %}" alt="" class="w-full h-96 object-cover">
    </div>
    <div class="container">
        <div class="relative block z-40">
            <ul class="relative block">
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="" class="text-white inline-block text-base font-medium">Home</a>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <span>/</span>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="{% url 'event:event_list' %}"
                        class="text-white inline-block text-base font-medium">Event</a>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <span>/</span>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="" class="text-white inline-block text-base font-medium">Create</a>
                </li>
            </ul>
            <h2 class="text-white text-2xl md:text-5xl font-bold m-0">Place order</h2>
        </div>
    </div>
</section>
<section class="flex items-center py-16 bg-white font-sans">
    <div class="justify-center flex-1 max-w-5xl px-6 py-6 mx-auto bg-white lg:py-10 md:px-7">
        <div class="mb-8 text-center">
            <h1
                class="mb-4 text-3xl font-semibold leading-7 tracking-wide text-custom-primary dark:text-gray-300 lg:leading-9">
                A Great big thank you!</h1>
            <p class="text-gray-500 dark:text-gray-400">Your contribution will go directly to supporting
                {{campaign.creator.first_name}}'s campaign</p>
            <p class="text-gray-500 dark:text-gray-400">Please confirm the your contribution details and click pay now
            </p>
        </div>
        <div>
            {% if form.errors.non_form_errors %}

            <div class="w-fit space-y-1 mx-auto text-sm mt-6 text-red-500 font-normal">

                <p>{{form.errors.non_form_errors.as_text}}</p>
            </div>
            {% endif %}
            <form method="post" class="grid w-full mt-4 mb-4 gap-4 md:mt-6 ">
                {% csrf_token %}
                <h3 class="text-center uppercase text-custom-h font-bold text-2xl">contribution details</h3>
                <div class="bg-white w-full space-y-3 mt-6 rounded">
                    <div class="flex flex-wrap items-center w-full justify-between">
                        <h4 class="text-base font-semibold text-custom-h">Amount contributed</h4>
                        <div>
                            <input type="number" name="amount" value="{{amount}}" id="id_amount"
                                class="border {% if form.amount.errors %} border-red-500 {% else %}border-gray-500{% endif %} outline-none w-16 p-2 text-sm font-normal text-black" />

                            {% if form.amount.errors %}
                            <span
                                class="text-[11px] text-red-500 block font-normal lowercase">{{form.amount.errors.as_text}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-wrap w-full justify-between">
                        <h4 class="text-base font-semibold text-custom-h">Title</h4>
                        <h4 class="text-base font-semibold text-custom-h">{{campaign.title}}</h4>
                    </div>
                    <div class="flex flex-wrap w-full justify-between">
                        <h4 class="text-base font-semibold text-custom-h">Organiser</h4>
                        <h4 class="text-base font-semibold text-custom-h">{{campaign.creator.first_name}}</h4>
                    </div>
                    <div class="flex flex-wrap w-full justify-between">
                        <h4 class="text-base font-semibold text-custom-h">Campaign Target</h4>
                        <h4 class="text-base font-semibold text-custom-h">R{{campaign.target}}</h4>
                    </div>
                </div>
                <hr class="mt-6 border-b-1 border-gray-300">
                <div class="mt-6 p-4 bg-gray-100 w-full flex flex-col gap-2">
                    <h3 class=" text-custom-h font-bold text-lg">Please, select your tip choice:</h3>
                    <select name="" id="" class="w-full bg-white outline-none p-2 border text-black">
                        <option>10%</option>
                        <option>15%</option>
                        <option>20%</option>
                        <option>25%</option>
                    </select>
                    <div class="self-end w-fit justify-self-end">
                        <p class="font-normal text-black">
                            Support amount R34
                        </p>
                    </div>
                    <div class="w-full flex items-center justify-between">
                        <p class="font-normal text-base text-black">
                            Ndwandwa Family Foundation does not receive any fees from the campaign owners. We receive a transaction fee from the contributor. Thank you very much for understanding.
                        </p>
                        <div>

                        </div>
                    </div>

                </div>
                <hr class="mt-6 border-b-1 border-gray-300">
                <div class="w-full bg-white">
                    
                </div>
                <h3 class=" text-custom-h font-bold text-2xl mt-6">Contributor info</h3>
                <hr class="mt-6 border-b-1 border-gray-300">
                <div class="bg-white w-full space-y-3 mt-6 rounded">
                    <div class="flex flex-wrap w-full justify-between">
                        <h4 class="text-base font-semibold text-custom-h">Full name</h4>
                        <h4 class="text-base font-semibold text-custom-h">{{request.user.first_name}}</h4>
                    </div>
                    <div class="flex flex-wrap w-full justify-between">
                        <h4 class="text-base font-semibold text-custom-h">Email</h4>
                        <h4 class="text-base font-semibold text-custom-h">{{request.user.email}}</h4>
                    </div>
                    <div class="flex flex-wrap w-full justify-between">
                        <h4 class="text-base font-semibold text-custom-h">Total contribution</h4>
                        <h4 class="text-base font-semibold text-custom-h">{{request.user.donations.count}}</h4>
                    </div>
                </div>
                <hr class="mt-6 border-b-1 border-gray-300">
                <div class="flex items-center mt-5 space-x-4">

                    <input class="inline-flex" type="checkbox"
                        id="id_accepted_laws" name="accepted_laws" class="border-red-500" />

                    <label class="font-normal text-base text-gray-500" for="id_accepted_laws">
                        Support as an anonymous supporter</label><br />
                    {% if form.accepted_laws.errors %}
                    <span
                        class="text-[11px] text-red-500 block font-normal lowercase">{{form.accepted_laws.errors.as_text}}</span>
                    {% endif %}

                </div>
                <hr class="mt-6 border-b-1 border-gray-300">
                <div class=" mt-5">
                    <p class="font-normal text-base text-gray-500">
                        Please read the <a href="http://" target="_blank" rel="noopener noreferrer"
                            class="text-custom-primary">terms and
                            conditions</a> and <a href="http://" target="_blank" rel="noopener noreferrer"
                            class="text-custom-primary">Privacy Policy</a>
                    </p>
                    <p class="font-normal text-base text-gray-500">
                        After clicking confirm, it will be considered that you agree with the privacy policy and the
                        terms and conditions of Ndwandwa Family Foundation.
                    </p>
                    <p class="font-normal text-base text-gray-500">
                        *As a general rule, refunds cannot be made after payment is completed
                    </p>
                </div>


                <div class="flex flex-wrap items-center justify-between gap-4 mt-6 ">
                    <a href="{% url 'campaign:campaign_details' campaign.slug %}"
                        class="w-full px-4 py-2 text-custom-primary border border-custom-primary rounded-md md:w-auto hover:text-gray-100 hover:bg-blue-600 dark:border-gray-700 dark:hover:bg-gray-700 dark:text-gray-300">
                        Go back
                    </a>
                    <div>

                        <button type="submit" value="submit"
                            class="w-full px-4 py-2 bg-custom-primary rounded-md text-gray-50 md:w-auto hover:bg-blue-600 dark:hover:bg-gray-700 dark:bg-gray-600">
                            Confirm
                        </button>
                    </div>

                </div>
            </form>

        </div>
    </div>
</section>
{% endblock content %}
{% block javascripts %}
<script>

    // Word count

    var max_words = 250;

    $("textarea[name=content]").on("keyup", function () {
        var str = $(this).val();
        if (str.split(/[\s]+/).length > max_words) {
            alert("You cannot put more than" + max_words + " words in this text area.")
            var new_str = str.split(/[\s]+/).splice(0, max_words).join(' ');
            $(this).val(new_str);
        }
    })

</script>

{% endblock javascripts %}