<!--Site Footer Start-->
{% load static %}
{% load static tailwind_tags %}
<footer class="site-footer relative block bg-custom-h z-30">
    <div class="site-footer__top font-sans relative block z-30 p-[127px_0_120px]">

        <div class="container">
            <div class="flex flex-wrap -mx-4">
                <div class="sm:w-6/12 lg:w-4/12 w-full max-w-full px-4 md:w-6/12" >
                    <div class="footer-widget__column space-y-6 relative block -mt-2 mr-16 footer-widget__about">
                        <div class="footer-widget__logo relative block">
                            <a href="#"><img src="" alt=""></a>
                        </div>
                        <div class="footer-widget__about-text-box relative block">
                            <p class="footer-widget__about-text text-sm text-white font-medium">Lorem quas utamur delicata qui, vix ei prima
                                mentitum omnesque. Duo corrumpit
                                cotidieque ne.</p>
                        </div>
                        <form class="footer-widget__subscribe-box relative block">
                            <div class="relative items-center bg-white footer-widget__subscribe-input-box flex p-2">
                                <input type="email" placeholder="Email address" name="email" class="w-full h-14 outline-none pl-5 pr-16 border-none text-sm font-medium bg-white text-gray-500">
                                <button type="submit" class="footer-widget__subscribe-btn" class=" text-white duration-500 text-xl w-9 h-9 leading-9 border-none bg-custom-primary  rounded-full mr-4"><i class="fa-solid fa-envelope text-custom-primary text-xl"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="lg:w-2/12 sm:w-6/12 w-full max-w-full px-4 md:w-6/12">
                    <div class="relative block space-y-7 mr-14 footer-widget__column footer-widget__Explore">
                        <div class="footer-widget__title-box relative block">
                            <h3 class="footer-widget__title text-xl text-white font-bold">Explore</h3>
                        </div>
                        <ul class="footer-widget__Explore-list space-y-4 relative block mt-0 p-0 list-unstyled">
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="about.html">About</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="about.html">How it Works</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="about.html">Knowledge Hub</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="news.html">Success Stories</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="lg:w-2/12 sm:w-6/12 w-full max-w-full px-4 md:w-6/12">
                    <div class="footer-widget__column mr-16 relative block footer-widget__Fundraising">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title text-xl text-white font-bold">Fundraising</h3>
                        </div>
                        <ul class="footer-widget__Explore-list space-y-4 relative block mt-0 p-0 list-unstyled">
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="about.html">About</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="about.html">How it Works</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="about.html">Knowledge Hub</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="news.html">Success Stories</a></li>
                            <li><a class="relative inline-block font-medium text-sm text-gray-500" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="lg:w-4/12 sm:w-6/12 w-full max-w-full px-4 md:w-6/12">
                    <div class="footer-widget__column mr-16 relative block footer-widget__Contact">
                        <div class="footer-widget__title-box">
                            <h3 class="footer-widget__title text-xl text-white font-bold">Contact</h3>
                        </div>
                        <ul class="footer-widget__Contact-list space-y-4 relative block mt-0 p-0 list-unstyled">
                            <li>
                                <div class="icon">
                                    <i class="fa-solid fa-phone"></i>
                                </div>
                                <div class="text">
                                    <p><a href="tel:+9288006780">+92 ( 8800 ) - 6780</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-email"></span>
                                </div>
                                <div class="text">
                                    <p><a href="mailto:needhelp@company.com">needhelp@company.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div class="icon">
                                    <span class="icon-pin"></span>
                                </div>
                                <div class="text">
                                    <p>30 broklyn golden street line. New York</p>
                                </div>
                            </li>
                        </ul>
                        <div class="site-footer__social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom relative block bg-[#172d2d] p-[33px_0_38px] shadow-[0px_-1px_0px_0px_rgba(255,_255,_255,_0.08)]">
        <div class="container">
            <div class="flex flex-wrap -mx-4">
                <div class="w-full max-w-full px-4 py-0">
                    <div class="site-footer__bottom-inner block text-center relative">
                        <p class="site-footer__bottom-text text-gray-500 text-base font-medium">© Copyright 2022 by <a href="#">Wedoit</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Site Footer End-->
