{% extends '_base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block content %}
<section class="w-full bg-custom-h pt-36 mt-16 relative block pb-32 overflow-hidden border-2">
    <div id="header-bg"
        class="absolute top-0 h-fit  border-2 border-custom-primary left-0 bottom-0 right-0 overflow-hidden bg-center opacity-50 bg-no-repeat bg-cover mix-blend-luminosity">
        <img src="{% static 'imgs/home.jpg' %}" alt="" class="w-full h-96 object-cover">
    </div>
    <div class="container">
        <div class="relative block z-40">
            <ul class="relative block">
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="" class="text-white inline-block text-base font-medium">Home</a>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <span>/</span>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="{% url 'accounts:account_list' %}" class="text-white inline-block text-base font-medium">Accounts</a>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <span>/</span>
                </li>
                <li class="inline-block text-base text-white font-medium opacity-60 relative">
                    <a href="{% url 'accounts:account_details' username=user.username pk=user.pk %}" class="text-white inline-block text-base font-medium">{{user.first_name}}</a>
                </li>
            </ul>
            <h2 class="text-white text-2xl md:text-5xl font-bold m-0">Account details</h2>
        </div>
    </div>
</section>

<section class="w-full pt-32 px-0 bg-white mb-20">
    <div class="container">
        <div class="w-full">
            <div class="flex w-fit flex-col items-center md:flex-row gap-11 self-center justify-self-center ">
                <div class="w-28 h-28 md:w-44 md:h-44 grid items-center justify-center overflow-hidden rounded-full bg-custom-primary">
                    {% if user.photo %}
                    <img src="{{user.photo.url}}" alt="{{user.first_name}}" class="w-full h-full object-fill" />
                    {% else %}
                    <p class="text-white font-bold text-3xl md:text-6xl">{{user.first_name.0}}{{user.last_name.0}}</p>
                    {% endif %}
                </div>
                <div class="space-y-1 text-center md:text-left md:w-[550px]">
                    <p class="text-xl md:text-4xl font-bold text-black">
                        {{user.first_name}} {{user.last_name}}
                    </p>
                    <p class="text-base font-normal text-custom-tertiary space-x-4"><span>{{user.username}}</span>
                        <span>{{user.email}}</span>
                    </p>
                    <p class="text-base font-normal text-[#6e6d8f]">
                        {{user.occupation}} | {{user.professional_affiliations}}
                    </p>
                    {% if user.address == none %}
                        {% if request.user == user %}
                        <div class="text-center p-2 rounded-md border w-fit text-sm  md:text-base">
                            <a href="" class="text-black"> Add address </a>
                        </div>
                        {% endif %}
                    {% else %}

                        <p class="text-sm font-normal text-[#6e6d8f]">
                            {{user.address.address_one}}, {{user.address.city}},
                            {{user.address.state}}, {{user.address.country}}, {{user.address.zipcode}} {% if user == request.user %}| <a href="{% url 'accounts:updateaddress' user.address.id %}" class="text-custom-primary">Edit</a> {% endif %}
                        </p>
                    {% endif %}
                    <div class="flex items-center space-x-5">
                        {% if request.user == user %}
                            <div class="text-center p-2 rounded-md border  text-base">
                                <a href="{% url 'accounts:update_account' user.username user.pk %}" class="text-black"> Edit profile </a>
                            </div>
                        {% else %}
                            {% if request.user in user.followers.all %}
                            <div id="follow-btn" data-action="unfollow" data-username="{{user.username}}"
                                data-user_id="{{user.id}}"
                                class="text-center text-[#e94989] p-2 cursor-pointer rounded-md border-[#e94989] border-[1px] text-base">
                                - Unfollow
                            </div>
                            {% else %}
                            <div id="follow-btn" data-action="follow" data-username="{{user.username}}"
                                data-user_id="{{user.id}}"
                                class="text-center p-2 text-black cursor-pointer rounded-md border-[1px] text-base">
                                + Follow
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w-full bg-white mb-20">
    <div class="container">
        <div class="w-full space-y-5">
            <div class="border w-full p-2 md:p-4">
                <div class="w-fit mx-auto">
                    <div class="flex flex-col md:flex-row items-center w-full space-y-3 md:space-y-0 md:space-x-3">
                        <div data-category="biography"
                            class="bg-gray-300 cursor-pointer transition-all w-full duration-500 py-2 px-3 user_nav_item text-center text-gray-900 font-medium text-sm md:text-lg">
                            <p>Biography</p>
                        </div>
                        <div data-category="next_of_kins"
                            class="bg-custom-primary cursor-pointer transition-all w-full duration-500 py-2 px-3 user_nav_item text-center text-white font-medium text-sm md:text-lg">
                            <p>Relatives</p>
                        </div>
                        <div data-category="qualification"
                            class="bg-custom-primary cursor-pointer transition-all w-full duration-500 py-2 px-3 user_nav_item text-center text-white font-medium text-sm md:text-lg">
                            <p>Qualifications</p>
                        </div>
                        <div data-category="campaigns"
                            class="bg-custom-primary cursor-pointer transition-all w-full duration-500 py-2 px-3 user_nav_item text-center text-white font-medium text-sm md:text-lg">
                            <p>Campaigns</p>
                        </div>
                        <div data-category="backed_campaigns"
                            class="bg-custom-primary cursor-pointer transition-all w-full duration-500 py-2 px-3 user_nav_item text-center text-white font-medium text-sm md:text-lg">
                            <p>Pledges</p>
                        </div>
                        <div data-category="events"
                            class="bg-custom-primary cursor-pointer transition-all w-full duration-500 py-2 px-3 user_nav_item text-center text-white font-medium text-sm md:text-lg">
                            <p>Events</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full p-4">
                <div id="biography" class="block w-full user_nav_list">
                        
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-black text-2xl font-bold">Biography</h5>
                        {% if user.biography == none %}
                            {% if user == request.user %}
                                <div class="self-center justify-self-center">
                                    <div class="text-center bg-custom-primary p-2 rounded-md border w-fit text-base">
                                        <a href="" class="text-white"> Add biography </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="flex flex-col md:flex-row items-start gap-9">
                                    <div class="space-y-4 w-full md:w-[calc(100%_-_280px)]">
    
                                        <p class="text-sm text-custom-tertiary font-normal">
                                            {{user.first_name}} currently does not have biography
                                        </p>
                                    </div>
                                    <div class="p-5 w-full md:w-72 bg-custom-primary rounded-lg">
                                        <div class="space-y-4 text-white">
                                            <h6 class="font-bold text-base text-center">Contact</h6>
                                            <div class="text-start space-y-2 text-sm font-normal">
                                                <p>Email: {{user.email}}</p>
                                                <p>Phone: {{user.tel}}</p>
                                                <p>Address: {{user.address.address_one}}, {{user.address.address_two}},
                                                    {{user.address.city}}</p>
                                            </div>
                                            {% if request.user == user %}
                                            <div>
                                                <a id="navbar-button" href="{% url 'campaign:create_campaign' %}"
                                                    class=" border-white border-2 hover:bg-white hover:text-custom-primary text-white duration-500 h-10 w-32 grid items-center justify-center text-center font-sans font-normal text-xs md:text-sm ">Update
                                                    contact</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="flex flex-col md:flex-row items-start gap-9">
                                <div class="w-full md:w-[calc(100%_-_280px)]">
                                    <p class="text-sm text-custom-tertiary font-normal">
                                        {{user.biography}}
                                    </p>
                                </div>
                                <div class="p-5 w-full md:w-72 bg-custom-primary rounded-lg">
                                    <div class="space-y-4 text-white">
                                        <h6 class="font-bold text-base text-center">Contact</h6>
                                        <div class="text-start space-y-2 text-sm font-normal">
                                            <p>Email: {{user.email}}</p>
                                            <p>Phone: {{user.tel}}</p>
                                            <p>Address: {{user.address.address_one}}, {{user.address.address_two}},
                                                {{user.address.city}}</p>
                                        </div>
                                        {% if request.user == user %}
                                        <div>
                                            <a id="navbar-button" href="{% url 'campaign:create_campaign' %}"
                                                class=" border-white border-2 hover:bg-white hover:text-custom-primary text-white duration-500 h-10 w-32 grid items-center justify-center text-center font-sans font-normal text-xs md:text-sm ">Update
                                                contact</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div id="qualification" class="hidden w-full user_nav_list">
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-black text-2xl font-bold">Qualifications</h5>
                        {% if user.qualifications.count == 0 %}
                            {% if user == request.user %}
                                <div class="self-center justify-self-center">
                                    <div class="text-center bg-custom-primary p-2 rounded-md border w-fit text-base">
                                        <a href="" class="text-white"> Add qualification </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <div class="space-y-4 w-full">
    
                                        <p class="text-sm text-custom-tertiary font-normal">
                                            {{user.first_name}} currently does not have qualifications
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="">
                                <div class="w-fuu">
                                    <div class="w-full overflow-x-auto">
                                        <table class="w-full">
                                            <thead>
                                                <tr class="text-sm font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                                    <th class="px-4 py-3">Institution</th>
                                                    <th class="px-4 py-3">Name</th>
                                                    <th class="px-4 py-3">Type</th>
                                                    <th class="px-4 py-3">Year</th>
                                                    {% if request.user == user %}
                                                    <th class="px-4 py-3">Actions</th>
                                                    {% endif %}
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white">
                                                
                                                    {% for qualification in user.qualifications.all %}
                                                    <tr class="text-gray-700"></tr>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{qualification.institution}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{qualification.name}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{qualification.qualification_type}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{qualification.year}}</p>
                                                        </td>
                                                        {% if request.user == user %}
                                                        <td class="px-4 py-3 border">
                                                            <a href="{% url 'accounts:updatequlification' pk=request.user.pk id=qualification.id %}" class="text-xs text-custom-primary">Update</a>
                                                        </td>
                                                        {% endif %}
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="next_of_kins" class="hidden w-full user_nav_list">
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-black text-2xl font-bold ">Next of kins</h5>
                        {% if user.next_of_kins.count == 0 %}
                            {% if user == request.user %}
                                <div class="self-center justify-self-center">
                                    <div class="text-center bg-custom-primary p-2 rounded-md border w-fit text-base">
                                        <a href="{% url 'accounts:addnextofkin' request.user.username %}" class="text-white"> Add relatives </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <div class="space-y-4 w-full">
    
                                        <p class="text-sm text-custom-tertiary font-normal">
                                            {{user.first_name}} currently does not have relative
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="">
                                <div class="w-full">
                                    <div class="w-full overflow-x-auto">
                                        <table class="w-full">
                                            <thead>
                                                <tr class="text-sm font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                                    <th class="px-4 py-3">Full name</th>
                                                    <th class="px-4 py-3">Phone</th>
                                                    <th class="px-4 py-3">Relationship</th>
                                                    {% if request.user == user %}
                                                    <th class="px-4 py-3">Actions</th>
                                                    {% endif %}
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white">
                                                
                                                    {% for relative in user.next_of_kins.all %}
                                                    <tr class="text-gray-700"></tr>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{relative.full_name}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{relative.relationship}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{relative.tel}}</p>
                                                        </td>
                                                        {% if request.user == user %}
                                                        <td class="px-4 py-3 border">
                                                            <a href="{% url 'accounts:updatenextofkin' username=request.user.username next_of_kin_id=relative.id %}" class="text-xs text-custom-primary">Update</a>
                                                        </td>
                                                        {% endif %}
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="backed_campaigns" class="hidden w-full user_nav_list">
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-black text-2xl font-bold ">Backed Campaigns</h5>
                        {% if user.contribution_orders.count == 0 %}
                            {% if user == request.user %}
                                <div class="self-center justify-self-center">
                                    <div class="text-center bg-custom-primary p-2 rounded-md border w-fit text-base">
                                        <a href="" class="text-white"> Donate </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <div class="space-y-4 w-full">
    
                                        <p class="text-sm text-custom-tertiary font-normal">
                                            {{user.first_name}} currently does not have backed campaigns
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="">
                                <div class="w-full">
                                    <div class="w-full overflow-x-auto">
                                        <table class="w-full">
                                            <thead>
                                                <tr class="text-sm font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                                    <th class="px-4 py-3">Compaign</th>    
                                                    <th class="px-4 py-3">Goal</th>
                                                    <th class="px-4 py-3">Amount donated</th>
                                                    <th class="px-4 py-3">Date</th>
                                                    {% if request.user == user %}
                                                        <th class="px-4 py-3">Payment status</th>
                                                        <th class="px-4 py-3">Actions</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white">
                                                {% for donation in user.contribution_orders.all %}
                                                <tr class="text-gray-700">
                                                    <td class="px-4 py-3 border">
                                                        <p class="text-xs text-gray-500">{{donation.campaign.title}}</p>
                                                    </td>
                                                    <td class="px-4 py-3 border">
                                                        <p class="text-xs text-gray-500">{{donation.campaign.target}}</p>
                                                    </td>
                                                    <td class="px-4 py-3 border">
                                                        <p class="text-xs text-gray-500">{{donation.amount}}</p>
                                                    </td>
                                                    <td class="px-4 py-3 border">
                                                        <p class="text-xs text-gray-500">{{donation.created}}</p>
                                                    </td>
                                                    {% if request.user == user %}
                                                    <td class="px-4 py-3 border">
                                                        <p class="text-xs text-gray-500">{{donation.paid}}</p>
                                                    </td>
                                                    <td class="px-4 py-3 border">
                                                        <p class="text-xs text-gray-500">{% if donation.paid == "NOT_PAID" %} <a href="{% url 'actions:process_payment' donation_id=donation.id %}" class="text-custom-h text-sm">pay now</a> {% endif %}</p>
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="campaigns" class="hidden w-full user_nav_list">
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-black text-2xl font-bold ">Campaigns</h5>
                        {% if user.campaigns.count == 0 %}
                            {% if user == request.user %}
                                <div class="self-center justify-self-center">
                                    <div class="text-center bg-custom-primary p-2 rounded-md border w-fit text-base">
                                        <a href="{% url 'campaign:create_campaign' %}" class="text-white"> Add compaign </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="flex items-start flex-col md:flex-row gap-5 md:gap-9">
                                    <div class="space-y-4 w-full md:w-[calc(100%_-_280px)]">
    
                                        <p class="text-sm text-custom-tertiary font-normal">
                                            {{user.first_name}} currently does not have campaigns
                                        </p>
                                    </div>
                                    <div class="p-5 w-full md:w-72 bg-custom-primary rounded-lg">
                                        <div class="space-y-4 text-white">
                                            <h6 class="font-bold text-base text-center">Contact</h6>
                                            <div class="text-start space-y-2 text-sm font-normal">
                                                <p>Email: {{user.email}}</p>
                                                <p>Phone: {{user.tel}}</p>
                                                <p>Address: {{user.address.address_one}}, {{user.address.address_two}},
                                                    {{user.address.city}}</p>
                                            </div>
                                            {% if request.user == user %}
                                            <div>
                                                <a id="navbar-button" href="{% url 'campaign:create_campaign' %}"
                                                    class=" border-white border-2 hover:bg-white hover:text-custom-primary text-white duration-500 h-10 w-32 grid items-center justify-center text-center font-sans font-normal text-xs md:text-sm ">Update
                                                    contact</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="flex items-start flex-col md:flex-row gap-5 md:gap-9">
                                <div class="md:w-[calc(100%_-_280px)]">
                                    <div class="w-full overflow-x-auto">
                                        <table class="w-full">
                                            <thead>
                                                <tr class="text-sm font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                                    <th class="px-4 py-3">Campaign</th>
                                                    <th class="px-4 py-3">Category</th>
                                                    <th class="px-4 py-3">Target R</th>
                                                    <th class="px-4 py-3">Current R</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white">
                                                {% for campaign in user.campaigns.all %}
                                                    <tr id="campaign.id" class="text-gray-700">
                                                        <td class="px-4 py-3 border">
                                                            <a href="{{campaign.get_absolute_url}}" class="text-xs text-gray-500">{{camaaign.title}}</a>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{campaign.category.label}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">R{{campaign.target}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">R{{campaign.current_amount}}</p>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="p-5 w-full md:w-72 bg-custom-primary rounded-lg">
                                    <div class="space-y-4 text-white">
                                        <h6 class="font-bold text-base text-center">Contact</h6>
                                        <div class="text-start space-y-2 text-sm font-normal">
                                            <p>Email: {{user.email}}</p>
                                            <p>Phone: {{user.tel}}</p>
                                            <p>Address: {{user.address.address_one}}, {{user.address.address_two}},
                                                {{user.address.city}}</p>
                                        </div>
                                        {% if request.user == user %}
                                        <div>
                                            <a id="navbar-button" href="{% url 'campaign:create_campaign' %}"
                                                class=" border-white border-2 hover:bg-white hover:text-custom-primary text-white duration-500 h-10 w-32 grid items-center justify-center text-center font-sans font-normal text-xs md:text-sm ">Update
                                                contact</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="events" class="hidden w-full user_nav_list">
                    <div class="space-y-5 grid w-full">
                        <h5 class="text-black text-2xl font-bold ">Events</h5>
                        {% if user.events.count == 0 %}
                            {% if user == request.user %}
                                <div class="self-center justify-self-center">
                                    <div class="text-center bg-custom-primary p-2 rounded-md border w-fit text-base">
                                        <a href="{% url 'campaign:create_campaign' %}" class="text-white"> Add event </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="flex items-start flex-col md:flex-row gap-5 md:gap-9">
                                    <div class="space-y-4 w-full md:w-[calc(100%_-_280px)]">
    
                                        <p class="text-sm text-custom-tertiary font-normal">
                                            {{user.first_name}} currently does not have events
                                        </p>
                                    </div>
                                    <div class="p-5 w-full md:w-72 bg-custom-primary rounded-lg">
                                        <div class="space-y-4 text-white">
                                            <h6 class="font-bold text-base text-center">Contact</h6>
                                            <div class="text-start space-y-2 text-sm font-normal">
                                                <p>Email: {{user.email}}</p>
                                                <p>Phone: {{user.tel}}</p>
                                                <p>Address: {{user.address.address_one}}, {{user.address.address_two}},
                                                    {{user.address.city}}</p>
                                            </div>
                                            {% if request.user == user %}
                                            <div>
                                                <a id="navbar-button" href="{% url 'campaign:create_campaign' %}"
                                                    class=" border-white border-2 hover:bg-white hover:text-custom-primary text-white duration-500 h-10 w-32 grid items-center justify-center text-center font-sans font-normal text-xs md:text-sm ">Update
                                                    contact</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="flex items-start flex-col md:flex-row gap-5 md:gap-9">
                                <div class="md:w-[calc(100%_-_280px)]">
                                    <div class="w-full overflow-x-auto">
                                        <table class="w-full">
                                            <thead>
                                                <tr class="text-sm font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                                    <th class="px-4 py-3">Event</th>
                                                    <th class="px-4 py-3">Start date</th>
                                                    <th class="px-4 py-3">Ends at</th>
                                                    <th class="px-4 py-3">Location</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="bg-white">
                                                {% for event in user.events.all %}
                                                    <tr id="event.id" class="text-gray-700">
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{event.title}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{event.event_startdate}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{event.event_enddate}}</p>
                                                        </td>
                                                        <td class="px-4 py-3 border">
                                                            <p class="text-xs text-gray-500">{{event.event_address.city}}</p>
                                                        </td>
                                    
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="p-5 w-full md:w-72 bg-custom-primary rounded-lg">
                                    <div class="space-y-4 text-white">
                                        <h6 class="font-bold text-base text-center">Contact</h6>
                                        <div class="text-start space-y-2 text-sm font-normal">
                                            <p>Email: {{user.email}}</p>
                                            <p>Phone: {{user.tel}}</p>
                                            <p>Address: {{user.address.address_one}}, {{user.address.address_two}},
                                                {{user.address.city}}</p>
                                        </div>
                                        {% if request.user == user %}
                                        <div>
                                            <a id="navbar-button" href="{% url 'campaign:create_campaign' %}"
                                                class=" border-white border-2 hover:bg-white hover:text-custom-primary text-white duration-500 h-10 w-32 grid items-center justify-center text-center font-sans font-normal text-xs md:text-sm ">Update
                                                contact</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<div id="modal" class="w-full hidden h-screen z-[700] fixed top-0 left-0 bg-[#00000090]">
    <div id="inner_model" class="w-80 md:w-96 h-72 grid items-center justify-center absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-[600] bg-white p-4 rounded-lg">
        <div id="inner_model_child" class="space-y-3 text-center font-sans">
            <h6 class="text-black text-xl md:text-2xl font-bold">Are you sure?</h6>
            
            <i class="fa-solid fa-trash fa-shake text-2xl md:text-5xl"></i>
            <p class="text-gray-500 text-sm md:text-base font-normal">
                Are you sure you want to delete this?
            </p>
            <div class="flex flex-wrap gap-4 justify-around">
                <div class="text-center inline-block h-12 bg-custom-primary w-[150px] rounded-md cursor-pointer">
                    <button id="delete_event_ok" 
                        class="text-white w-full h-full cursor-pointer text-sm font-semibold">submit</button>
                </div>
                <div
                    class="text-center inline-block h-12 border-custom-primary border-2 bg-white w-[150px] rounded-md cursor-pointer">
                    <button onclick="close_modal()" id="cancel" 
                        class="text-custom-primary w-full h-full cursor-pointer text-sm font-semibold">cancel</button>
                </div>
            </div>

        </div>
        <div id="cancel_modal" onclick="close_modal()" class="absolute right-4 top-4 w-8 h-8 flex items-center justify-center">
            <p class="text-gray-600 text-base font-bold">X</p>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    const navToggler = document.querySelectorAll(".user_nav_item");
    const navbarList = document.querySelectorAll(".user_nav_list");
    

    navToggler.forEach(ele => {
        ele.addEventListener("click", function () {
            for (let i = 0; i < navToggler.length; i++) {
                navToggler[i].classList.remove("active");
                navToggler[i].classList.remove("bg-gray-300");
                navToggler[i].classList.remove("text-gray-900");
                navToggler[i].classList.add("bg-custom-primary");
                navToggler[i].classList.add("text-white");

            }
            let dataAttrib = ele.getAttribute("data-category");
            

            loadData(dataAttrib);

            ele.classList.add("active");
            ele.classList.add("bg-gray-300");
            ele.classList.add("text-gray-900");
            ele.classList.remove("bg-custom-primary");
            ele.classList.remove("text-white");
            
        })
    })

    function loadData(idAttrib) {
        let data = document.getElementById(idAttrib);
        for (let i = 0; i < navbarList.length; i++) {
            if (navbarList[i].classList.contains("block")) {
                navbarList[i].classList.remove("block");
                navbarList[i].classList.add("hidden");
            }

        }
        if (data.classList.contains("hidden")) {
            data.classList.remove("hidden");
            data.classList.add("block");
        }

    }




</script>
{% if request.user.is_authenticated %}
    <script>



        // FOLLOW SHOT OWNER
        $("#follow-btn").on("click", function(e){
            e.preventDefault();
            $.ajax({
            type: "POST",
            url: "{% url 'actions:follow_user' %}",
            data: {
                user_id: $(this).data("user_id"),
                action: $(this).data('action'),
                username: $(this).data('username')
            },
            dataType: "json",
            success: function(data){
                if(data.success){
                var $follow_btn = $("#follow-btn")
                var $prev_action = $("#follow-btn").attr('data-action');
                if($prev_action === 'follow'){
                    $follow_btn.removeClass("text-black")
                    $follow_btn.addClass("text-custom-primary border-custom-primary")

                    $follow_btn.attr("data-action", "unfollow")
                    $follow_btn.text("- Unfollow")
                }else{
                    $follow_btn.addClass("text-black")
                    $follow_btn.removeClass("text-custom-primary border-custom-primary")

                    $follow_btn.attr("data-action", "follow")
                    $follow_btn.text("+ Follow")
                }
                }else{
                alert("Something went wrong!")
                }
            }
            })
        })
    
    </script>
{% endif %}
{% endblock javascripts %}