{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% tailwind_preload_css %}
    {% tailwind_css %}
    {{form.media}}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}">
    <title>{% block title %} Home {% endblock title %} Ndwandwa Family</title>
</head>

<body>
   {% include "includes/header.html" %}
    
    <main class="">
        {% include "includes/message.html" %}


        
        {% block content %}

        {% endblock content %}
    </main>

    {% comment %} {% include "includes/footer.html" %} {% endcomment %}

    <script src="{% static 'js/all.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/js.cookie.min.js' %}"></script>

    {% block javascripts %}

    {% endblock javascripts %}
    <script>
        const profileBtn = document.getElementById("profile_button");
        const profileMenu = document.getElementById("profile_menu");
        profileBtn.addEventListener("click", function () {
            if (profileMenu.classList.contains("hidden")) {
                profileMenu.classList.remove("hidden")
                profileMenu.classList.add("block")
            } else {
                profileMenu.classList.remove("block")
                profileMenu.classList.add("hidden")
            }
        })
        {% if request.user.is_authenticated %}

            var csrftoken = Cookies.get("csrftoken");
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
            }
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
                    }
                },
            })

        {% endif %}
    </script>
    <script>

        function remove_alert(clc){
            document.querySelectorAll(`.${clc}`).forEach(ele => {
                ele.remove()
            })
        }
    </script>



</body>

</html>