{% extends '_base.html' %}
{% load static %}
{% block title %}Campaigns{% endblock title %}

{% block content %}

<section class="w-full overflow-hidden h-screen mb-20">
    <div class="relative">

        <img src="{% static 'imgs/home.jpg' %}" alt="ML GEO Consulting team working on foundation excavations" srcset=""
            class="object-cover block w-full h-screen">

        <div class="absolute w-full h-full bg-[#000000b8] left-0 top-0"></div>
        <div class="absolute z-30 md:w-[1120px] bottom-1/2 translate-y-1/2 right-1/2 translate-x-1/2">
            <div class="grid items-center w-full justify-center text-center space-y-7">
                <span class="text-custom-primary font-sans text-lg md:text-xl font-bold"> Home / Create
                </span>
                <h2 class="text-white font-bold font-sans text-3xl md:text-8xl">
                    Create
                </h2>

            </div>
        </div>
    </div>
</section>
<section class="w-full bg-white mb-20">
    <div class="container">
        <div class="flex items-start bg-white space-x-11">
            <div class="w-64 bg-custom-primary text-white p-6 rounded-xl">
                <div class="space-y-4">
                    <a href="http://" role="menuitem" tabindex="-1"
                        class="font-normal font-sans block px-4 py-2 text-base">Create campaign</a>
                    <a href="http://" role="menuitem" tabindex="-1"
                        class="font-normal font-sans block px-4 py-2 text-base">Create event</a>
                    <a href="http://" role="menuitem" tabindex="-1"
                        class="font-normal font-sans block px-4 py-2 text-base">Create category</a>
                    <a href="{% url 'accounts:logout' %}" role="menuitem" tabindex="-1"
                        class="font-normal font-sans block px-4 py-2 text-base">logout</a>
                </div>
            </div>
            <div class="w-[calc(100%_-_250px)]">

            </div>
        </div>
    </div>
</section>

{% endblock content %}