{% load static %}

<div style="color: #2e3337; font-size: 16px; font-weight: 500;">
    <div
        style="display: flex; margin: 0; padding: 20px; align-items: center; background-color: #ffffff; justify-content: space-between;">
        <div class="logo" style="padding-right: 27px; align-items: center; display: flex;">
            <div style="width: 40px; height: 40px; margin-right: 8px; display: inline;">
                <img src="{% static 'imgs/logo (2).png' %}" alt="Ndwandwa LOGO" style="object-fit: contain;" />
            </div>
            <div style="color: #1e3737; display: inline;">
                <h3 style="color: #00B4D8; font-weight: 700; text-transform: uppercase;">Ndwandwa</h3>
                <p style="font-size: 11px;">family foundation</p>
            </div>
        </div>
        <h2 style="color: #1e3737; font-weight: 800; font-size: 30px;">Ticket(s) order Confirmation</h2>
    </div>
    

    <div style="margin: 0; margin-top: 32px; margin-bottom: 32px; padding: 15px; background-color: #ffffff;">
        <h3 style="margin-bottom: 15px;">Dear {{ user }},</h3>

        <p style="margin-bottom: 20px;">We have received your ticket(s) order for event campaign and will be
            processing it shortly. The details of
            your ticket(s) order are:</p>
        <div style="margin-bottom: 20px !important; margin-left: 20px;">
            <p>Order number: <span style="color: #1e3737; font-weight: 600;">{{ order_number }}</span></p>
            <p>Event: {{ event_title }}/p>
            <p>Number of tickets: {{ order_quantity }}</p>
            <p>Price per ticket: R{{ ticket_amount}}</p>
            <p>Total price(incl. vat): R{{ order_total_price }}</p>
        </div>
        <p style="margin-bottom: 20px;">Thank you for your contribution to this event. Your donation will go
            straight to helping this event</p>
        <p style="margin-bottom: 25px;">If you did not perform this task then please let us know on
            or email <a href="mail:inf0@ndwandwa.org"
                style="text-decoration: underline; color: #1e3737; font-weight: 800;">support@ndwadwafam.org</a>
        </p>

        <p>From the NdwandwaFam Team</p>
    </div>
    <div style="text-align: center; margin-top: 20px 0; background-color: #1e3737; color: #ffffff; padding: 60px;">
        <p style="margin-bottom: 25px;">Questions? Get in touch on</p>
        <p style="margin-bottom: 25px;"><a href="" style="margin-right: 20px;">Twitter</a> <a href=""
                style="margin-right: 20px;">Facebook</a> <a href="" style="margin-right: 20px;">Instagram</a></p>
        <p style="margin-bottom: 7px;">
            You are receiving this email because you sign up on our website
        </p>
        <p style="margin-bottom: 7px;">
            PO Box 1345, Home Hell, Cape Town, 7872
        </p>
    </div>
</div>